@model IEnumerable<AgenceVoyage.Models.Voyage>

@{
    ViewData["Title"] = "Index";
}

<h1>Voyages pour @User.Identity.Name</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dateVoyage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dateVoyage)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.idClient">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
