@model IEnumerable<AgenceVoyage.Models.Forfait>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h1 class="mt-5">Voici la liste de nos forfaits</h1>
    <br>
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-lg-4">
                <a href="Forfaits/details?id=@item.idForfait"><img class="rounded-circle" src="images/@Html.DisplayFor(modelItem => item.image)" width="140" height="140"></a><br>
                <a href="Forfaits/details?id=@item.idForfait"><h5>@Html.DisplayFor(modelItem => item.nomForfait)</h5></a><br>
                <p>@Html.DisplayFor(modelItem => item.duree) jours</p>
                <p>@Html.DisplayFor(modelItem => item.destination)</p>
                <p><a class="btn btn-secondary" href="Forfaits/details?id=@item.idForfait" role="button">Détail</a></p>

            </div>

        }
    </div>
</div>

