@model IEnumerable<AgenceVoyage.Models.Forfait>

@{
    ViewData["Title"] = "Accueil";
}

<div id="myCarousel" class="carousel slide">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="images/Australie.jpeg" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1 class="text-acceuil">Agence de voyage Mehdi et Sylvain</h1>
                    <p class="text-acceuil">Voyager en temps de COVID... c'est solide!</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <h1 class="mt-5">Plusieurs forfaits à bon prix disponibles</h1>
    <br>
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-lg-4">
                <a href="Forfaits/details?id=@item.idForfait"><img class="rounded-circle" src="images/@Html.DisplayFor(modelItem => item.image)" width="140" height="140"></a><br>
                <a href="Forfaits/details?id=@item.idForfait"><h5>@Html.DisplayFor(modelItem => item.nomForfait)</h5></a><br>
                <p>@Html.DisplayFor(modelItem => item.duree) jours</p>
                <p>@Html.DisplayFor(modelItem => item.destination)</p>
                <p><a class="btn btn-secondary" href="Forfaits/details?id=@item.idForfait" role="button">Détail</a></p>
                
            </div>

        }
    </div>
</div>


